<!-- views/user.ejs -->
<html>
    <head>
        <title>
            User Details
        </title>
        <body>
            <h1><%= user.name %></h1>
            <p>Email: <%= user.email %></p>
            <a href="/users">Back to all users</a>
        </body>
    </head>
 </html>